<html>

<head>
    <style>
        h1 {
            color: blue;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 2.5rem;

        }

        h2 {
            color: gray;
            text-align: center;
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
        }

        .link {
            text-decoration: none;
            font-size: 1.2rem;
            color: gray;
        }
    </style>
</head>

<body>
    <h1> Ztyle </h1>
    <h2> User Email : {{email}}</h2>
    <p>You requested to reset your password.</p>
    <p>Please, click the link below to reset your password</p>
    <a class="link" href="{{link}}">Reset Password</a>
</body>

</html>