<html>

<head>
    <style>
        h1 {
            color: blue;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 2.5rem;
        }

        h2 {
            color: gray;
            text-align: center;
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
        }
    </style>
</head>

<body>
    <h1>Ztyle </h1>
    <h2>User Email :{{email}}</h2>
    <p>Your password has been changed successfully</p>
    <p> Please Login again to verify the same.!!!</p>
</body>

</html>